@charset "UTF-8";

/* 回答はここに書いてね */

.q9__blowing {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}

.q9__blowing:before,
.q9__blowing:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border: 20px solid transparent;
}

.q9__blowing:before {
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}

.q9__blowing:after {
  bottom: -38px;
  left: 30px;
  border-top-color: #fff;
}

/* 回答はここに書いてね */
